# editors
.vscode/
.vscode-insiders/
.idea/
.ijwb/
.clwb/
*.code-workspace
.devcontainer/

# Python specific
venv/
**/__pycache__/
*.py[cod]
/cogs/tests.py
.pytest_cache

# CI
junit

# OS
*.DS_Store
.env

.tox/
